@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Rubik";
    src: url("./assets/font/Rubik-Regular.ttf") format("truetype");
}

body {
    /* background-color: #f3f4f6; */
    font-family: "Rubik", sans-serif;
    color: #374151;
}

.custom-h-screen {
    height: calc(100vh - 56px);
}

.custom-box-shadow {
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}