@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Rubik";
    src: url("./assets/font/Rubik-Regular.ttf") format("truetype");
}

body {
    font-family: "Rubik", sans-serif;
    color: #374151;
}

.custom-btn {
    @apply mt-8 rounded-md bg-black w-fit text-white uppercase px-6 py-3 transition-all duration-150 hover:bg-primary-400;
}

.custom-min-h-screen {
    min-height: calc(100vh - 56px);
}

.custom-box-shadow {
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}
